*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #d4bdde;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}

.chart{
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background:#251c35;
    box-shadow: 0 0 16px rgba(0,0,0,0.8);
}
body {
    margin: 0;
    padding: 0;
}

.chart {
    width: 45%; /* Adjust width as needed */
    margin: 10px;
}

canvas {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .chart {
        width: 100%; /* Full width on small screens */
    }
}